@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/_H_HelveticaNeueInterface_3.ttf');
    font-display: fallback;
}

html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 400 !important;
}

.crud-button-list{
    color: black !important;
    margin-bottom: 10px;
}

/*
 * Has Success
 */
.has-success label {
  color: #35cd3a !important; }
.has-success .form-control {
  border-color: #35cd3a !important;
  color: #35cd3a !important; }
.has-success .input-group-text {
  border-color: #35cd3a !important;
  background: #35cd3a !important;
  color: #ffffff !important; }
.has-success .form-control-feedback {
  color: #35cd3a; }
.input-group.has-success, .input-group.has-icon.has-success {
  border: 1px solid #35cd3a !important;
  color: #35cd3a; }
.has-success .select2-dropdown, .has-success .select2-selection {
  border-color: #35cd3a; }
.has-success .select2-dropdown .select2-selection__rendered, .has-success .select2-selection .select2-selection__rendered {
    color: #35cd3a; }
.has-success .select2-container--focus .select2-selection, .has-success .select2-container--open .select2-selection {
  border-color: #35cd3a; }
.has-success.select2-drop-active {
  border-color: #35cd3a; }
.has-success.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #35cd3a; }

/*
 * Has Error 
 */
.has-error label {
  color: #f3545d !important; }
.has-error .form-control {
  border-color: #f3545d !important;
  color: #f3545d !important; }
.has-error .input-group-text {
  border-color: #f3545d !important;
  background: #f3545d !important;
  color: #ffffff !important; }
.has-error .form-control-feedback {
  color: #f3545d; }
.input-group.has-error {
  border: 1px solid #f3545d !important;
  color: #f3545d; }
.input-group.has-icon.has-error {
  border: 1px solid #f3545d !important;
  color: #f3545d; }
.has-error .select2-dropdown, .has-error .select2-selection {
  border-color: #f3545d; }
.has-error .select2-dropdown .select2-selection__rendered, .has-error .select2-selection .select2-selection__rendered {
    color: #f3545d; }
.has-error .select2-container--focus .select2-selection, .has-error .select2-container--open .select2-selection {
  border-color: #f3545d; }
.has-error.select2-drop-active {
  border-color: #f3545d; }
.has-error.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #f3545d; }
